body{
    background-color: rgb(36, 36, 36);
    padding-left: 150px;
    padding-right: 150px;
}
h1,p,h4,li,a{
    color: rgb(232, 231, 239);
    text-align: center;
}
h4{
    font-size: 23px;
}
li,p{
    font-size: 20px;
}
#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul,ol{
    list-style:none;
}
a:link{
    color: rgb(232,231,239);
    text-decoration: none;
}
a:visited{
    color: rgb(232,231,239);
}
a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8px;
    font-size: 18px;
}

.center_notes,.center_instructions,.center_ingredients{
    list-style-position: inside;
    text-align: center;
}

